{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>Loan :: Registation </title>
{% endblock %}

{% block main %}
<main>

<div class="slider-height2 hero-overly2 d-flex align-items-center">
<div class="container">
<div class="row">
<div class="col-xl-12">
<div class="hero-cap text-center pt-200">
<h2 style="text-decoration: underline;">Register</h2>
</div>
</div>
</div>
</div>
</div>

<div class="apply-area pt-50 pb-150">
<div class="container">
<div class="row justify-content-center">
<div class="col-lg-8">
<div class="apply-wrapper">

<form method="POST" enctype="multipart/form-data">{% csrf_token %}
<div class="row">

<div class="col-lg-6">
<div class="single-form">
<label>* FIRST NAME</label>
<input type="text" name="firstname" placeholder="Enter First Name" required>
</div>
</div>

<div class="col-lg-6">
<div class="single-form">
<label>* Last NAME</label>
<input type="text" name="lastname" placeholder="Enter Last Name" required>
</div>
</div>


<div class="col-lg-6">
<div class="single-form">
<label>* Email Adderess</label>
<input type="email" name="email" placeholder="Enter email" required>
</div>
</div>

<div class="col-lg-6">
<div class="single-form">
<label>* Phone Number</label>
<input type="text" name="phone" placeholder="Enter Phone Number" required>
</div>
</div>

<div class="col-lg-12">
<div class="single-form">
<label>* Upload Photo</label>
<input type="FILE" name="photo" accept=".jpg" required>
</div>
</div>

<div class="col-lg-6">
<div class="single-form">
<label>* Password</label>
<input type="password" name="password" placeholder="Enter Password" required>
</div>
</div>

<div class="col-lg-6">
<div class="single-form">
<label>* Conform Password</label>
<input type="password" name="cpassword" placeholder="Enter Conform Password" required>
</div>
</div>

<div class="col-lg-6">
<div class="single-form">
<a href="{% url 'login_management:login'%}" style="color: blue;">For registered User ?</a>
</div>
</div>

{% for message in messages %}
<label style="color: red">{{message}}</label>
{% endfor %}

</div>
<button class="btn apply-btn mt-30" type="submit">Register</button>
</form>
</div>
</div>
</div>
</div>
</div>

</main>
{% endblock %}