{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>Loan :: Loan Type</title>
{% endblock %}

{% block main %}
<main>




<div class="services-area section-padding30">
<div class="container">
<div class="row justify-content-center">
<div class="col-lg-6 col-md-10">
  
<div class="section-tittle text-center mb-80">
<span>Services that we are providing</span>
<h2>High Performance Services For All Industries.</h2>
</div>
</div>
</div>
<div class="row">
<div class="col-lg-3 col-md-6 col-sm-6">
<div class="single-cat single-cat2 text-center mb-50">
<div class="cat-icon">
<span class="flaticon-work"></span>
</div>
<div class="cat-cap">
<h5><a href="#">Personal Loan</a></h5>
<p>Consectetur adipisicing elit, sed doeiusmod tempor incididunt ut labore et dolore</p>
</div>
</div>
</div>
<div class="col-lg-3 col-md-6 col-sm-6">
<div class="single-cat single-cat2 text-center mb-50">
<div class="cat-icon">
<span class="flaticon-loan-1"></span>
</div>
<div class="cat-cap">
 <h5><a href="#">Home Loans</a></h5>
<p>Consectetur adipisicing elit, sed doeiusmod tempor incididunt ut labore et dolore</p>
</div>
</div>
</div>
<div class="col-lg-3 col-md-6 col-sm-6">
<div class="single-cat single-cat2 text-center mb-50">
<div class="cat-icon">
<span class="flaticon-loan"></span>
</div>
<div class="cat-cap">
<h5><a href="#">Education Loans</a></h5>
<p>Consectetur adipisicing elit, sed doeiusmod tempor incididunt ut labore et dolore</p>
</div>
</div>
</div>
<div class="col-lg-3 col-md-6 col-sm-6">
<div class="single-cat single-cat2 text-center mb-50">
<div class="cat-icon">
<span class="flaticon-like"></span>
</div>
<div class="cat-cap">
<h5><a href="#">Vehical Loan</a></h5>
<p>Consectetur adipisicing elit, sed doeiusmod tempor incididunt ut labore et dolore</p>
</div>
</div>
</div>



</div>
</div>
</div>

</main>
{% endblock %}